<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>M5SprintFinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>g1Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>g1Servlets.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuario</display-name>
    <servlet-name>CrearUsuario</servlet-name>
    <servlet-class>g1Servlets.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuario</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarios</display-name>
    <servlet-name>ListarUsuarios</servlet-name>
    <servlet-class>g1Servlets.ListarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarios</servlet-name>
    <url-pattern>/ListarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuario</display-name>
    <servlet-name>EditarUsuario</servlet-name>
    <servlet-class>g1Servlets.EditarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuario</servlet-name>
    <url-pattern>/EditarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostarComentarios</display-name>
    <servlet-name>MostarComentarios</servlet-name>
    <servlet-class>g1Servlets.MostarComentarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostarComentarios</servlet-name>
    <url-pattern>/MostarComentarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarComentarios</display-name>
    <servlet-name>MostrarComentarios</servlet-name>
    <servlet-class>g1Servlets.MostrarComentarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarComentarios</servlet-name>
    <url-pattern>/MostrarComentarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacion</display-name>
    <servlet-name>CrearCapacitacion</servlet-name>
    <servlet-class>g1Servlets.CrearCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacion</servlet-name>
    <url-pattern>/CrearCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorCapacitaciones</display-name>
    <servlet-name>ControladorCapacitaciones</servlet-name>
    <servlet-class>controller.ControladorCapacitaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCapacitaciones</servlet-name>
    <url-pattern>/ControladorCapacitaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControladorUsuarios</display-name>
    <servlet-name>ControladorUsuarios</servlet-name>
    <servlet-class>controller.ControladorUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorUsuarios</servlet-name>
    <url-pattern>/ControladorUsuarios</url-pattern>
  </servlet-mapping>
</web-app>